{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{# -*- coding: utf-8 -*-#}
{% extends 'base.html' %}
{% block title %}
    <title>صفحه ثبت نام یا ورود</title>
{% endblock title %}

{% block breadcrumb %}
    <header>
        <nav class="rtl sa_beardcrumbs ">
            <div class="nav-wrapper  valign-wrapper">
                <div class="col s12" style="margin-right: 20px; font-size: 5px">
                    <a href="{% url 'sa_plan_app:index' %}" class="breadcrumb flow-text">خانه<i
                            class="material-icons right">home</i></a>
                    <a href="#!" class="breadcrumb">ثبت نام/ ورود</a>
                </div>
            </div>
        </nav>
    </header>
{% endblock breadcrumb %}

{% block main %}
        <div class="section row right-align">
            <div class="col s12 m6 offset-m3">
    <div class="card-panel small sa_gard_left right-align">
                <h2 class="flow-text right-align"> :ورود به سایت </h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="right">
                        <button class="btn waves-effect waves-light flow-text center" type="submit">Login</button>
                    </div>
                    <br>
                    <br>
                </form>
                <hr>
                <br>
                <br>
                <div class="center">
                    <a class="btn  waves-effect flow-text sa_google" href="{% url 'social:begin' 'github' %}">sign in
                        with GitHub</a>
                    <a class="btn teal waves-effect flow-text sa_git" href="{% url 'social:begin' 'google-oauth2' %}">sign
                        in with Google</a>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

