
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{% load static %}
<footer class="page-footer fixed sa_gard_right">
    <div class="row right-align">
        <hr>
        <div class="col l4 s12 center-align">
            <br>
            <hr>
            <ul class="black-text">لینکهای مفید و سریع
                <li><a class="black-text text-lighten-3" href="#">ارتباط 1</a></li>
                <li><a class="black-text text-lighten-3" href="#">ارتباط 2</a></li>
                <li><a class="black-text text-lighten-3" href="#">ارتباط 3</a></li>
                <li><a class="black-text text-lighten-3" href="#">ارتباط 4</a></li>
            </ul>
        </div>
        <div class="col l6 offset-l2 s12">
            <br>
            <hr>
            <h5 class="white-text">: سایت من</h5>
            <p class="grey-text text-lighten-4">سایت من سایت من سایت من سایت من سایت من سایت من سایت من سایت من سایت من
                سایت
                من سایت من سایت من سایت من سایت من سایت من سایت من</p>
        </div>
    </div>
    <hr>
    <div class="footer-copyright">
        <span class="black-text">© 2020 Copyright </span><span class="yellow-text">   Hamid Reza Saber</span>
        <a class="white-text text-lighten-4 right" href="#">ارتباطات بیشتر</a>
    </div>
</footer>
