{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{% load static %}
<header>


    <!--   START    !!!!!!!!!!!!!!!!     BASE  MENU  NAV BAR    !!!!!!!!!!!!!!!!!!!!! -->
    <div class="navbar-fixed">
        <nav class="sa_gard_right">
            <div class="nav-wrapper">

                <!--    START BASE  MENU  !!!!!!!!!!!!!!!!     BASE MENU   !!!!!!!!!!!!!!!! -->
                <ul class="hide-on-med-and-down right">
                    <!-- BASE  MENU   VIP  Dropdown Trigger 1  -->
                    {% if request.user.is_authenticated %}
{#                        <li><a class="dropdown-trigger black-text" href="#" data-target="dropdown1">بخش ویژه<i#}
{#                                class="material-icons right">arrow_drop_down</i></a>#}
{#                        </li>#}
{#                        <!-- BASE  MENU  observation   Dropdown Trigger 3  -->#}
{#                        <li><a class="dropdown-trigger black-text" href="#" data-target="dropdown2">مشاهدات<i#}
{#                                class="material-icons right">arrow_drop_down</i><i#}
{#                                class="material-icons left">visibility</i></a>#}
{#                        </li>#}
{#                        <li><a href="{% url 'logout' %}" class="black-text"><i#}
{#                                class="material-icons left">arrow_back</i>خروج</a>#}
{#                        </li>#}
                        <li>
                            <a href="{% url 'sa_account_app:profile' request.user.id %}" class="black-text">
                                <i class="material-icons left">person</i> گرامی {{ request.user.last_name }}
                                سلام </a>
                        </li>

                    {% else %}
                        {#                     <!-- BASE  MENU  VIP   MODAL Trigger  -->#}
{#                        <li><a class="waves-effect waves-light modal-trigger" href="#modal1">بخش ویژه<i#}
{#                                class="material-icons right">arrow_drop_down</i></a>#}
{#                        </li>#}
{#                        <li><a class="waves-effect waves-light modal-trigger" href="#modal1">مشاهدات<i#}
{#                                class="material-icons right">arrow_drop_down</i><i#}
{#                                class="material-icons left">visibility</i></a>#}
{#                        </li>#}
                        <li><a href="{% url 'login' %}" class="">ثبت نام / ورود<i class="material-icons right">person_add</i></a>
                        </li>
                    {% endif %}
                        <li><a href="{% url 'sa_plan_app:index' %}" class="orange-text">خانه<i
                                class="material-icons right">home</i></a>
                        </li>

                </ul>
                <!--    END        BASE MENU    -->

                <a href="#" data-target="mobile" class="sidenav-trigger top-nav"><i class="material-icons">menu</i></a>

                <!--            #####################################-->
                <!--            LOGO IMAGE-->
                <!--            #####################################-->
                <a href="#" class="brand-logo hide-on-small-and-down"><img
                        src="{% static 'images/post_logo/post_logo.png' %}" height="73" width="373" alt=""/></a>
                <a href="#" class="brand-logo hide-on-med-and-up"><img
                        src="{% static 'images/post_logo/post_logo1_1.png' %}" height="51" width="51" alt=""/></a>
                <!--            #####################################-->
                <!--            LOGO IMAGE-->
                <!--            #####################################-->
            </div>
        </nav>

    </div>
    {#  END    ~~~~~~~~~~    BASE    NAV BAR   ~~~~~~~~~~~~~~ #}

    <!--  START  MENU   !!!!!!!!!!!!!!!!     MOBILE OR SIDE  BAR    !!!!!!!!!!!!!!!!!!!!! -->
    <ul class="sidenav" id="mobile">
        <li><a href="{% url 'sa_plan_app:index' %}" class="orange-text right-align">خانه<i
                class="material-icons left orange-text">home</i></a>
        </li>

        {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="black-text right-align"><i
                    class="material-icons left">arrow_back</i>خروج</a>
            </li>
            <li>
                <a href="{% url 'sa_account_app:profile' request.user.id %}" class="black-text">
                    <i class="material-icons left">person</i> گرامی {{ request.user.last_name }}
                    سلام </a>
            </li>
            <li><a class="dropdown-trigger right-align" href="#" data-target="dropdown3">مشاهدات<i
                    class="material-icons left">visibility</i></a>
            </li>

        {% else %}
            <li><a href="{% url 'login' %}" class="right-align white-text"><i class="material-icons left white-text">person_add</i>ثبت
                نام / ورود</a></li>

            <li><a class="waves-effect waves-light modal-trigger right-align white-text" href="#modal1">مشاهدات<i
                    class="material-icons left white-text">visibility</i></a>
            </li>
        {% endif %}
    </ul>
    {#  END    ~~~~~~~~~~    MOBILE OR SIDE  NAV BAR   ~~~~~~~~~~~~~~ #}

    <!--    START    !!!!!!!!!!!!!!!!   SHOW  SID BAR DROPDOWN    !!!!!!!!!!!!!!!!!!!!! -->
    <ul id="dropdown3" class="dropdown-content">
        <li><a href="{% url 'sa_plan_app:plan' %}">مشاهده طرح</a></li>
        <li><a href="#">زیر پروژه ها</a></li>
        <li><a href="#">فعالیت ها</a></li>
        <li><a href="#">احکام</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'sa_plan_app:index' %}">خروج صفحه اصلی</a></li>
    </ul>
    {#  END    ~~~~~~~~~~    SHOW  SID BAR DROPDOWN   ~~~~~~~~~~~~~~ #}
    <!-- Modal Structure -->
    <div id="modal1" class="modal sa_gard_right">
        <div class="modal-content right-align  black-text">
            <h4>بخش ویژه مدیریتی، نظارتی و کارشناسی</h4>
            <h6>:در صورتیکه کاربر فعال هستید وارد سایت شوید در غیر اینصورت </h6>
            <p class="center-align"> ثبت نام و سپس از طریق ایمیلی که مدیر سایت ارسال مینماید اعتبار
                کاربری خود را فعال نمایید </p>
            <p class="left-align">باتشکر</p>
        </div>
        <div class="modal-footer sa_gard_left">
            <a href="{% url 'sa_plan_app:index' %}"
               class="modal-close waves-effect waves-green btn-flat orange-text text-accent-1">فقط
                میشه عکس دید</a>
            <a href="{% url 'login' %}" class="modal-close waves-effect waves-green btn-flat orange-text text-accent-1">برو
                برای ثبت
                نام</a>
        </div>
    </div>
    <!--    END     ~~~~~~~~~~~~~~~~     Modal Structure    ~~~~~~~~~~~~~~~~~~~~~ -->

    <!--    START   !!!!!!!!!!!!!!!!  VIP   Dropdown Structure   BASE PAGE DROPDOWN    !!!!!!!!!!!!!!!!!!!!! -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#">ثبت طرح</a></li>
        <li><a href="#">ثبت پروژه</a></li>
        <li><a href="#">ثبت زیر پروژه</a></li>
        <li><a href="#">ثبت فعالیت</a></li>
        <li><a href="#">صدور حکم</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'sa_plan_app:index' %}">خروج صفحه اصلی</a></li>
    </ul>
    {#      END     ~~~~~~~~~~    VIP  DROPDOWN   BASE PAGE DROPDOWN   ~~~~~~~~~~~~~~ #}
    <!--    START   !!!!!!!!!!!!!!!!     SHOW  DROPDOWN   BASE PAGE DROPDOWN    !!!!!!!!!!!!!!!!!!!!! -->
    <ul id="dropdown2" class="dropdown-content">
        <li class="teal"><a href="{% url 'sa_plan_app:plan' %}" class="black-text">طرح های ثبت شده</a></li>
        <li class="teal"><a href="{% url 'sa_chat_app:chat' %}" class="black-text">گفتگو با مدیر سایت</a></li>
        <li><a href="#">زیر پروژه ها</a></li>
        <li><a href="#">فعالیت ها</a></li>
        <li><a href="#">احکام صادره</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'sa_plan_app:index' %}">خروج و صفحه اصلی</a></li>
    </ul>
    {#  END    ~~~~~~~~~~    SHOW  DROPDOWN   BASE PAGE DROPDOWN   ~~~~~~~~~~~~~~ #}
</header>
