
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{% load static %}
<!-- Top Bar      id="top-bar" class="p-3" -->
<section>
    <div class="navbar-fixed">
        <nav class="sa_nav">
            <div class="nav-wrapper">
                <ul>

                    <li><a href="{% url 'logout' %}" class="orange-text"><i class="material-icons">phone</i></a>021111111
                    </li>

                </ul>

                <div class="">

                    <a href="#" class="brand-logo hide-on-small-and-down center"><img
                            src="{% static 'images/post_logo/post_logo.png' %}" height="73" width="373" alt=""/></a>
                    <a href="#" class="brand-logo hide-on-med-and-up"><img
                            src="{% static 'images/post_logo/post_logo1_1.png' %}" height="51" width="51"
                            alt=""/></a>

                </div>

            </div>
                <ul>

                    <li><a href="{% url 'logout' %}" class="orange-text"><i class="material-icons">phone</i></a>021111111
                    </li>

                </ul>
        </nav>
    </div>
</section>

