{#{% load static %}#}
{#{% load thumbnail %}#}
{#{% if carousel %}#}
{#    <div class="carousel carousel-slider center">#}
{##}
{#        <div class="col s12">#}
{#            {% for car in carousel %}#}
{#                                <a class="carousel-item" href="{{ car.link }}"><img src="{{ car.pic.url }}"#}
{#                height="400" width="400" alt="{{ car.alt }}"></a>#}
{#                {% thumbnail car.pic "450x250" crop="center" as im %}#}
{#                    <a  class="carousel-item" href="{{ car.link }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"#}
{#                                                  alt=" تصویر {{ car.name }}" title="{{ car.name }}"></a>#}
{#                {% endthumbnail %}#}

{#            {% endfor %}#}
{##}
{#        </div>#}
{#    </div>#}
{#{% else %}#}
{#    <h3>هیچ عکسی موجود نیست</h3>#}
{#{% endif %}#}
{#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#}
{#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#}
{#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#}
{% load static %}
{% load thumbnail %}
{% if carousel %}
    <div class="row col s12">
        <div class="slider full-width">
            <ul class="slides">
                {% for car in carousel %}

                    <li>
                        <img class="responsive-img" src="{{ car.pic.url }}" title="{{ car.name }}"
                             alt=" تصویر {{ car.name }}"> <!-- random image -->
                        <div class="caption center-align">
                            <h3>{{ car.description }}</h3>
                            <a href="{{ car.link }}">
                                <h5 class="light grey-text text-lighten-3">{{ car.name }}</h5>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    <h3>هیچ عکسی موجود نیست</h3>
{% endif %}