
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{% extends 'base.html' %}
{% block title %}
    <title>صفخه اصلی</title>
{% endblock title %}
{% block main %}
    <main>
        <hr>
        <hr>
        <!--    IMAGES   CAROUSEL     -->
        <div class="card-panel center sa_gard_left">
            <h3>گالری پروژه ها</h3>
            <hr>
            {% include 'sa_plan_app/slidimages.html' %}
        </div>
        <!--    END    IMAGES    CAROUSEL     -->
{% if request.user.is_authenticated %}

        <!--      GROUP   CARD     -->
        <hr>
        <hr>
        <div class="card-panel sa_gard_right">
            <h3 class="center">گروه های فعال در دفتر</h3>
            <hr>
            {% if info_card %}
                {% for info in info_card %}
                    {% if info.card_type == 1 %}
                        {% include 'sa_plan_app/cardhorizantal.html' %}
                {% endif %}
                {% endfor %}
            {% else %}
                <h4 class="center red-text flow-text">هیچ اطلاعاتی برای نمایش به ثبت نرسیده است</h4>
            {% endif %}
        </div>
        <hr>
        <hr>
        <!--  END     GROUP   CARD   -->

        <!--   PROGRAM    CARD        -->
        <div class="card-panel sa_gard_left">
            <h3 class="center">برنامه ها وفعالیتهای سال جاری</h3>
            <hr>
            {% if info_card %}
                {% for info in info_card %}
                    {% if info.card_type == 2 %}
                        {% include 'sa_plan_app/cardhorizantal.html' %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <h4 class="center red-text flow-text">هیچ اطلاعاتی برای نمایش به ثبت نرسیده است</h4>
            {% endif %}
        </div>
        <!--  END    PROGRAM    CARD        -->
    {% endif %}
        <hr>
    </main>
{% endblock main %}