{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{% extends 'base.html' %}
{% block title %}
    <title>صفحه اصلی</title>
{% endblock title %}
{% block breadcrumb %}
    <header>
    <div class="navbar-fixed">
            <nav class="rtl sa_beardcrumbs">
            <div class="nav-wrapper valign-wrapper">
                <div class="col s12" style="margin-right: 20px; font-size: 5px">
                    <a href="{% url 'sa_plan_app:index' %}" class="breadcrumb flow-text">خانه<i
                            class="material-icons right">home</i></a>
                    {% if request.user.is_authenticated %}
                        <a href="#!" class="breadcrumb"> آقای / خانم : {{ request.user.username }} خوش
                            آمدید </a>
                    {% endif %}
                </div>
            </div>
        </nav>

    </div>
    </header>
{% endblock breadcrumb %}
{% block main %}
    <hr>
    <hr>
    <!--    IMAGES   CAROUSEL     -->
    <div class="card-panel  sa_gard_left">
        <h3 class="center">گالری پروژه ها</h3>
        <hr>
        {% include 'sa_plan_app/slidimages.html' %}
    </div>
    <!--    END    IMAGES    CAROUSEL     -->
    {#            {% include 'sa_account_app/profile.html' %}#}
    {% if request.user.is_authenticated %}
        <!--      GROUP   CARD     -->
        <hr>
        <hr>
        <div class="card-panel sa_gard_right">
            <h3 class="center">گروه های فعال در دفتر</h3>
            <hr>
            {% if info_card %}
                {% for info in info_card %}
                    {% if info.card_type == 1 %}
                        {% include 'sa_plan_app/cardhorizantal.html' %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <h4 class="center red-text flow-text">هیچ اطلاعاتی برای نمایش به ثبت نرسیده است</h4>
            {% endif %}
        </div>
        <hr>
        <hr>
        <!--  END     GROUP   CARD   -->

        <!--   PROGRAM    CARD        -->
        <div class="card-panel sa_gard_left">
            <h3 class="center">برنامه ها وفعالیتهای سال جاری</h3>
            <hr>
            {% if info_card %}
                {% for info in info_card %}
                    {% if info.card_type == 2 %}
                        {% include 'sa_plan_app/cardhorizantal.html' %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <h4 class="center red-text flow-text">هیچ اطلاعاتی برای نمایش به ثبت نرسیده است</h4>
            {% endif %}
        </div>
        <!--  END    PROGRAM    CARD        -->
    {% endif %}
    <hr>
{% endblock main %}