
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    <title>{{ info_card.name }}</title>
{% endblock title %}
{% block main %}
{#    TODO: این صفحه توضیحات ضروری و اضافه کارتهای صفحه الی را نمایش میدهد و باید زیبا سازی شودِ در ابتدا برایش یه مدل ساختم اما بعدا منصرف شدم#}
    <div class="card-panel">
        <h1 class="center red-text"> اطلاعات تکمیلی راجع به : {{ info_card.name }} </h1>
        <p class="center black-text">{{ info_card.card_description }}</p>

    </div>
{% endblock main %}