
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    <title>{{ info_card.name }}</title>
{% endblock title %}
{% block breadcrumb %}
    <div class="navbar-fixed">
        <nav class="rtl sa_beardcrumbs ">
            <div class="nav-wrapper  valign-wrapper">
                <div class="col s12" style="margin-right: 20px; font-size: 5px">
                    <a href="{% url 'sa_plan_app:index' %}" class="breadcrumb flow-text">خانه<i
                            class="material-icons right">home</i></a>
                    <a href="#" class="breadcrumb">{{ info_card.name }}</a>
                </div>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}

{% block main %}

{#    TODO: این صفحه توضیحات ضروری و اضافه کارتهای صفحه الی را نمایش میدهد و باید زیبا سازی شودِ در ابتدا برایش یه مدل ساختم اما بعدا منصرف شدم#}
    <div class="card-panel">
        <h1 class="center red-text"> اطلاعات تکمیلی راجع به : {{ info_card.name }} </h1>
        <p class="center black-text">{{ info_card.card_description }}</p>
        <a href="{% url 'sa_plan_app:index' %}"><h4>بازگشت</h4></a>

    </div>
{% endblock main %}