{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    <title>مشخصات {{ proctor.name }}</title>
{% endblock title %}
{% block breadcrumb %}
    <div class="navbar-fixed">
        <nav class="rtl sa_beardcrumbs ">
            <div class="nav-wrapper  valign-wrapper">
                <div class="col s12" style="margin-right: 20px; font-size: 5px">
                    <a href="{% url 'sa_plan_app:index' %}" class="breadcrumb orange-text flow-text">خانه<i
                            class="material-icons right orange-text">home</i></a>
                    <a href="{% url 'sa_plan_app:plan' %}" class="breadcrumb">طرح ها</a>
                    <a href="#" class="breadcrumb">مجری : {{ proctor.name }}</a>
                </div>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}

{% block main %}
        {% if proctor %}
            <h4 class="center"> خلاصه ای از سوابق مجری {{ proctor.plan }} آقای {{ proctor.name }} </h4>
            <table
                    class="rtl striped highlight centered responsive-table right-aligned ab_gard_left "
                    title="plan list">
                <thead>
                <tr>
                    <th>توضیحات</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ proctor.description }}</td>
                    <td>
                        {% thumbnail proctor.pic "150x150" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                 alt=" تصویر آقای {{ proctor.name }}" title="{{ proctor.name }}">
                        {% endthumbnail %}
                    </td>
                </tr>
                </tbody>
            </table>
        {% else %}
            <p>NO ACCESS RECORD FOUND!</p>
        {% endif %}
{% endblock main %}
