{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block main %}
    {% if proctor_des %}
        <h4 class="center">    خلاصه ای از سوابق مجری {{ proctor_des.plan }} آقای {{ proctor_des.name }} </h4>
        <table dir="rtl"
               class="striped highlight centered responsive-table right-aligned teal " title="plan list">
            <thead>
            <tr>
                <th>توضیحات</th>
                <th>تصویر</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{ proctor_des.description }}</td>
                <td>
                    {#                   <img src="{{ proc_pic.pic.url }}" class="responsive-img" width="150px" height="150px" alt="">#}

                    {% thumbnail proctor_des.pic "150x150" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                             alt=" تصویر آقای {{ proctor_des.name }}">
                    {% endthumbnail %}

                </td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <p>NO ACCESS RECORD FOUND!</p>
    {% endif %}
{% endblock main %}