{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{% extends 'base.html' %}
{% block title %}
    <title>لیست پروژه{{ project }}</title>
{% endblock title %}
{% block breadcrumb %}
    <div class="navbar-fixed">
        <nav class="rtl sa_beardcrumbs ">
            <div class="nav-wrapper  valign-wrapper">
                <div class="col s12" style="margin-right: 20px; font-size: 5px">
                    <a href="{% url 'sa_plan_app:index' %}" class="breadcrumb flow-text">خانه<i
                            class="material-icons right">home</i></a>
                    <a href="{% url 'sa_plan_app:plan' %}" class="breadcrumb">طرح ها</a>
                    <a href="{{ project.plan.get_absolute_url }}" class="breadcrumb">{{ project.plan.name }}</a>
                    <a href="#" class="breadcrumb">مجری : {{ project.name }}</a>
                </div>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block main %}
    {% if project %}
        <h4 class="center"> شرح {{ project }} </h4>


        <table dir="rtl"
               class="striped highlight centered responsive-table right-aligned black-text sa_gard_right"
               title="Project List">

            <thead>
            <tr>
                <th>ردیف پروژه</th>
                <th>عنوان طرح</th>
                <th>عنوان پروژه</th>
                <th>شماره پروژه</th>
                <th>)عتبار مصوب پروژه (به میلیون ریال)</th>
                <th>تاریخ شروع پروژه</th>
                <th>تاریخ خاتمه پروژه</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ project.id }}</td>
                <td>
                    <a href="{% url 'sa_plan_app:plan-description' project.plan.slug project.plan.id %}">{{ project.plan }}</a>
                </td>
                <td>{{ project.name }}</td>
                <td>{{ project.number }}</td>
                <td>{{ project.credit }}</td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.end_date }}</td>
            </tr>
            </tbody>

        </table>
    {% else %}
        <p>NO ACCESS RECORD FOUND!</p>
    {% endif %}
{% endblock main %}
