{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="container">
        {% if project_record %}
                        <h4 class="center">لیست پروژه ها</h4>

            <table border="2px" dir="rtl" cellspacing="2" bgcolor="#faebd7"
                    class="striped highlight centered responsive-table" title="plan list">
                <thead>
                <tr>
                    <th>ردیف پروژه</th>
                    <th>عنوان طرح</th>
                    <th>عنوان پروژه</th>
                    <th>شماره پروژه</th>
                    <th>)عتبار مصوب پروژه (به میلیون ریال)</th>
                    <th>تاریخ شروع پروژه</th>
                    <th>تاریخ خاتمه پروژه</th>
                </tr>
                </thead>
                {% for pr in project_record %}
                    <tbody>
                    <tr>
                        <td>{{ pr.id }}</td>
                        <td><a href="{% url 'sa_plan_app:plan_description' pr.plan.id %}">{{ pr.plan}}</a></td>
                        <td>{{ pr.name }}</td>
                        <td>{{ pr.number }}</td>
                        <td>{{ pr.credit }}</td>
                        <td>{{ pr.start_date }}</td>
                        <td>{{ pr.end_date }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            <p>NO ACCESS RECORD FOUND!</p>
        {% endif %}
    </div>
{% endblock main %}