{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    <title>گفتگو با مدیران</title>
{% endblock title %}
{% block main %}
    <main>
        <div class="section">
            <div class="row">
                <div class="valign-wrapper">
                    <div class="col s10 ">
                        <div class="card-panel ab_gard_right">
                            <a href="#" class="red-text">
                                <div class="right-align"><span class="per_arrow_left"> حمیدرضا</span></div>
                            </a>
                            <style type="text/css">
                            </style>
                            <div class="right-align">
                                سلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح
                                فلان
                                و
                                اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان
                                سئوالی
                                دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به
                                طرح
                                فلان
                                و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان
                                سئوالی
                                دارمr. سلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح
                                فلان
                                و
                                اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان
                                سئوالی
                                دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به
                                طرح
                                فلان
                                و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان
                                سئوالی
                                دارمr. سلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح
                                فلان
                                و
                                اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان
                                سئوالی
                                دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به
                                طرح
                                فلان
                                و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان
                                سئوالی
                                دارمr. سلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح
                                فلان
                                و
                                اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان
                                سئوالی
                                دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به
                                طرح
                                فلان
                                و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان
                                سئوالی
                                دارمr.
                            </div>
                        </div>
                    </div>
                    <div class="col s2">
                        <div class="center">
                            <div>
{#                                {% thumbnail  "400x220" crop="center" as im %}#}
{#                                    <img src="im.url" width="im.width"#}
{#                                         height="im.height" title="User_Name"#}
{#                                         alt=" تصویر" class="responsive-img">#}
{#                                {% endthumbnail %}#}
                                <img src="../static/images/personal/F_rahmati.jpg" title="User_Name"
                                     alt=" عکس اپراتور موجود نیست"

                                     class="circle responsive-img hide-on-small-only" style="border: 4px solid wheat; width: 75px">
                            </div>
                            <div>حمید رضا صابر</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="valign-wrapper">
                    <div class="col s2">
                        <div class="center">
                            <div>
                                <img src="../static/images/personal/faridi.jpg" title="User_Name"
                                     alt=" عکس اپراتور موجود نیست" width="75px"
                                     class="circle responsive-img hide-on-small-only" style="border: 4px solid wheat; width: 75px">
                            </div>
                            <div>مجید اکبر نژاد</div>
                        </div>
                    </div>
                    <div class="col s10 ">
                        <div class="card-panel ab_gard_right">
                            <div class="right-align per_arrow_left">: مدیر سیستم</div>
                            <div class="right-align">
                                سلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح
                                فلان
                                و
                                اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان
                                سئوالی
                                دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به
                                طرح
                                فلان
                                و اعتبار قسمت بهمان سئوالی دارمسلام ؛ من راجع به طرح فلان و اعتبار قسمت بهمان
                                سئوالی
                                دارمr.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}