{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~<START>    With God's help     </START>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#-*- coding: utf-8 -*-#}
{% load static %}
{% load thumbnail %}
<div class="section">

    <!--  START  MENU   !!!!!!!!!!!!!!!!     MOBILE OR SIDE  BAR    !!!!!!!!!!!!!!!!!!!!! -->
    <!--  START IMAGE  MENU   !!!!!!!!!!!!!!!!     IMAGE  MENU    !!!!!!!!!!!!!!!!!!!!! -->
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li class="right-">
            <a href="{% url 'sa_plan_app:index' %}" class="orange-text flow-text">خانه<i
                    class="material-icons right orange-text">home</i></a>
        </li>
        {% if request.user.is_authenticated %}
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="{% static 'images/gallery-image-3.jpg' %}">
                    </div>
                    <a href="#user"><img class="circle" src="{% static 'images/personal/saber_1.jpg' %}"></a>

                    <a href="#" class="red-text right-align"><i
                            class="material-icons flow-text">person</i>گرامی {{ request.user.last_name }}سلام</a>

                    <a href="#" class="blue-text email right-align flow-text"><i
                            class="material-icons">local_post_office</i>hamidrezasaber@gmail.com</a>
                    <div class="row valign-wrapper">
                                            <a href="{% url 'logout' %}" class="white-text">
             <i class="material-icons red-text col s6 sa-exit">highlight_off</i>
                                   <h6 class="col s6 sa-exit-txt red-text">خروج</h6>
                    </a>

                    </div>

                    <br>
                </div>
                {#            <br>#}
            </li>

            <!--  END IMAGE  MENU   !!!!!!!!!!!!!!!!     IMAGE  MENU    !!!!!!!!!!!!!!!!!!!!! -->

            <!--  START BASE  MENU   !!!!!!!!!!!!!!!!     BASE  MENU    !!!!!!!!!!!!!!!!!!!!! -->

            <li>
                <a class="dropdown-trigger black-text" href="#" data-target="dropdown2">مشاهدات<i
                        class="material-icons right">arrow_drop_down</i><i
                        class="material-icons left">visibility</i></a>
            </li>

            <ul class="collapsible expandable">
                <li>
                    <div class="collapsible-header">مشاهدات<i
                            class="material-icons right">arrow_drop_down</i><i
                            class="material-icons left">visibility</i></div>
                    <div class="collapsible-body"><a href="{% url 'sa_plan_app:plan' %}">طرح</a></div>
                    <div class="collapsible-body"><a href="{% url 'sa_chat_app:chat' request.user.id %}" class="black-text">گفتگو با
                        مدیر سایت</a></div>
                    <div class="collapsible-body"><a href="#">زیر پروژه ها</a></div>
                    <div class="collapsible-body"><a href="#">فعالیت ها</a></div>
                    <div class="collapsible-body"><a href="#">احکام صادره</a></div>
                    <div class="collapsible-body"></div>
                </li>
                <li>
                    <div class="collapsible-header">Rezerv</div>
                    <div class="collapsible-body">rez1</div>
                    <div class="collapsible-body">rez2</div>
                    <div class="collapsible-body">rez3</div>
                </li>

            </ul>

            <li class="divider"></li>

            <li><a class="dropdown-trigger black-text right-align" href="#" data-target="dropdown1">بخش ویژه<i
                    class="material-icons right">arrow_drop_down</i></a>
            </li>

            <li class="divider"></li>

            <li><h6 class="red-text center-align">{{ userprofile.userprofile.id }}</h6></li>
            <li><h6 class="red-text right-align">{{ user.id }}</h6></li>
            <li><h6 class="black-text right-align">{{ user.first_name }}</h6></li>
            <li><h6 class="red-text right-align">{{ user.last_name }}</h6></li>
            <li><h6 class="orange-text right-align">{{ user.date_joined }}</h6></li>
            <li><h6 class="red-text right-align">{{ user.last_login }}</h6></li>
            <li><h6 class="red-text right-align">is_active : {{ userprofile.userprofile.user.is_active }}</h6></li>
            <li><h6 class="green-text right-align">is_staff : {{ user.is_staff }}</h6></li>
            <li><h6 class="red-text right-align">{{ userprofile.username }}</h6></li>
            <li><h6 class="red-text right-align">{{ userprofile.userprofile.phone }}</h6></li>
            <li><h6 class="red-text right-align">{{ userprofile.userprofile.user_location }}</h6></li>
            <li><h6 class="red-text right-align">{{ userprofile.userprofile.user_role }}</h6></li>
        {% else %}
            <!-- BASE  MENU  VIP   MODAL Trigger  -->
            <li><a class="waves-effect waves-light modal-trigger white-text" href="#modal1">بخش ویژه<i
                    class="material-icons right white-text">arrow_drop_down</i></a>
            </li>
            <li><a class="waves-effect waves-light modal-trigger white-text" href="#modal1">مشاهدات<i
                    class="material-icons right white-text">arrow_drop_down</i><i
                    class="material-icons left white-text">visibility_off</i></a>
            </li>
            <li><a href="{% url 'login' %}" class="white-text">ثبت نام / ورود<i class="material-icons right white-text">person_add</i></a>
            </li>
        {% endif %}
    </ul>


    <!--    START   !!!!!!!!!!!!!!!!  VIP   Dropdown Structure   BASE PAGE DROPDOWN    !!!!!!!!!!!!!!!!!!!!! -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#">ثبت طرح</a></li>
        <li><a href="#">ثبت پروژه</a></li>
        <li><a href="#">ثبت زیر پروژه</a></li>
        <li><a href="#">ثبت فعالیت</a></li>
        <li><a href="#">صدور حکم</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'sa_plan_app:index' %}">خروج صفحه اصلی</a></li>
    </ul>
    {#      END     ~~~~~~~~~~    VIP  DROPDOWN   BASE PAGE DROPDOWN   ~~~~~~~~~~~~~~ #}
    <!--    START   !!!!!!!!!!!!!!!!     SHOW  DROPDOWN   BASE PAGE DROPDOWN    !!!!!!!!!!!!!!!!!!!!! -->
    <ul id="dropdown2" class="dropdown-content">
        <li class="teal"><a href="{% url 'sa_plan_app:plan' %}" class="black-text">طرح های ثبت شده</a></li>
{#        <li class="teal"><a href="{% url 'sa_chat_app:chat' object.id %}" class="black-text">گفتگو با مدیر سایت</a></li>#}
        <li><a href="#">زیر پروژه ها</a></li>
        <li><a href="#">فعالیت ها</a></li>
        <li><a href="#">احکام صادره</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'sa_plan_app:index' %}">خروج و صفحه اصلی</a></li>
    </ul>
    {#  END    ~~~~~~~~~~    SHOW  DROPDOWN   BASE PAGE DROPDOWN   ~~~~~~~~~~~~~~ #}
    <!-- Modal Structure -->
    <div id="modal1" class="modal sa_gard_right">
        <div class="modal-content right-align  black-text">
            <h4>بخش ویژه مدیریتی، نظارتی و کارشناسی</h4>
            <h6>:در صورتیکه کاربر فعال هستید وارد سایت شوید در غیر اینصورت </h6>
            <p class="center-align"> ثبت نام و سپس از طریق ایمیلی که مدیر سایت ارسال مینماید اعتبار
                کاربری خود را فعال نمایید </p>
            <p class="left-align">باتشکر</p>
        </div>
        <div class="modal-footer sa_gard_left">
            <a href="{% url 'sa_plan_app:index' %}"
               class="modal-close waves-effect waves-green btn-flat orange-text text-accent-1">فقط
                میشه عکس دید</a>
            <a href="{% url 'login' %}" class="modal-close waves-effect waves-green btn-flat orange-text text-accent-1">برو
                برای ثبت
                نام</a>
        </div>
    </div>
    <!--    END     ~~~~~~~~~~~~~~~~     Modal Structure    ~~~~~~~~~~~~~~~~~~~~~ -->

</div>